h3 {
  color: white;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color:#999898;
}
body {
  /* background-image: url(./images/background.space.jpeg) ; */
  background-color: #0A0B0B;
  color:#ABABAA;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
